<%# #show all the journal entries %>


<%# #create a new journal entry %>


<h1 style="text-align: center;">
  Today
</h1>


<%= link_to new_journal_entry_path do %>
<div class='plus-btn mb-3'>
  <i class="fa-solid fa-plus fa-4x plus-icon" style="color:white;"></i>

</div>

<% end %>



<h2 style="text-align:center;">Your recent entries:</h2>
<div class='header-top'>
    <% @journal_entries.each do |journal| %>
      <div class='journal-card'>
        <div class="left-bar">

        </div>
        <div
        class='card-content'

        >
          <%= link_to journal_entry_path(journal) do %>
          <h3><%= journal.title %></h3>
          <% end %>
          <p>
            <strong>Created:</strong>
            <%= journal.created_at.strftime("%H:%M %d-%b %Y") %>
          </p>
      </div>
        </div>

    <% end %>



</div>
