  <div id="message-<%= message.id  %> ">
  <div>

    <b><%= message.user.name %></b> 

  </div>
  <div>
     <p><%= message.content %></p>
  </div>

  </div>


<%# Want to also have the user's name and the time the message was sent. %>
