  <div class="message-box">
  <div id="message-<%= message.id  %> ">
  <div class="d-flex">

    <b><%= message.user.name %></b>
    <p style = "margin-left: 5px; font-size: 13px"><%= message.created_at.strftime("%H:%M")%></p>

  </div>
  <div>
     <p><%= message.content %></p>
  </div>

  </div>
</div>


<%# Want to also have the user's name and the time the message was sent. %>
