<div class="quotes-banner mb-3">
  <h3>Quote of the day</h3>
  <div style="height: 50px"><p id="typed-quote" ></p>

  </div>
</div>




<div class="container quotes-container">
  <h3 class="previous-title " >Previous quotes</h3>
  <% @quotes.each do |quote|%>
    <div class="quote-card">
      <p><%= quote.content %></p>
      <div class="date">
        <p><%= quote.publish_date.strftime("%d %B %Y") %></p>
      </div>
    </div>
  <% end %>
</div>


<script>
 const typed = new Typed('#typed-quote', {
    strings: ["<%= @quote_today.content %>"],
    typeSpeed: 40,
    backSpeed: 10,
    cursorChar: '',
  });
 </script>
