<div class="all-quotes">
  <h2 class="quote-title tracking-in-expand m-3" style="color:black;">Quote of the day</h2><hr>

  <div class="container">

      <div class="quote">
        <i><p class="quote-color "></p></i>
      </div>

      <div class="quote">
  <i><p class="quote-color" id="typed-quote"></p></i>
</div>

<script>
 const typed = new Typed('#typed-quote', {
    strings: ["<%= @quote.content %>"],
    typeSpeed: 40
  });
</script>

   <u><h2 class="previous-title " style="color:black">Previous quotes</h2></u><hr>

      <div class="previous-quotes">
       <% @quotes.each do |quote|%>

      <div class="old-quotes">
        <p><%=quote.content%></p>
       <u> <p><%=quote.publish_date%></p></u>
        <% end %>
      </div>
    </div>
  </div>

</div>
