<div class="icons">

  <div class="icon">
    <i class="fa-solid fa-house"></i>
    <h5>Home</h5>
  </div>

  <div class="icon">
    <i class="fa-solid fa-chart-simple"></i>
    <h5>Progress</h5>
  </div>


  <div class="icon">
    <i class="fa-solid fa-brain"></i>
    <h5>Quotes</h5>
  </div>




</div>
