<div class="icons">

  <div class="icon">
  <%= link_to root_path do %>
    <i class="fa-solid fa-house"></i>
  <% end %>
    <h5>Home</h5>
  </div>

  <div class="icon">
  <%= link_to moods_path do %>
    <i class="fa-solid fa-chart-simple"></i>
  <% end %>
    <h5>Progress</h5>
  </div>


  <div class="icon">
  <%= link_to quotes_path do %>
    <i class="fa-solid fa-brain"></i>
  <% end %>
    <h5>Quotes</h5>
  </div>

</div>
