<div class="quote-title">
  <h3>Today's quote</h3>
</div>
<p class="quotes">"When everything seems to be going against you, remember that the airplane takes off against the wind, not with it."  - Henry Ford</p>

<div class="features">

  <div class="feelings">
    <h4><i class="fa-solid fa-face-smile"></i>  How are you feeling?</h4>
  </div>

  <div class="journal">
    <h4>My journals</h4>
  </div>

  <div class="vibes">
    <h4>Vibes</h4>
  </div>


  <div class="ai">
    <h4>ai chat</h4>
  </div>


  <div class="therapists">
    <h4>Therapists</h4>
  </div>


</div>

<%# navbar with home, progress and quotes %>


<div class="icons">

  <div class="icon">
    <i class="fa-solid fa-house"></i>
    <h5>Home</h5>
  </div>

  <div class="icon">
    <i class="fa-solid fa-chart-simple"></i>
    <h5>Progress</h5>
  </div>


  <div class="icon">
    <i class="fa-solid fa-brain"></i>
    <h5>Quotes</h5>
  </div>




</div>
