<div class="playlist-container" data-search-playlist-target='result'>
      <% if @playlists %>
        <% @playlists.each do |playlist| %>
          <div class="playlist">

            <iframe  class="spotify-iframe" src="https://open.spotify.com/embed/playlist/<%= playlist.id %>" width="320" height="500" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>




        <% end %>
      <% end %>


    </div>
    </div>



<style>
  .playlist-container{
    display: flex;
    justify-content: center;
    text-align: center;


  }
    .search-form {
    display: flex;
    justify-content: center;
    margin: 20px;
  }

  .search-input {
    flex: 1;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
  }

  .search-button {
    margin-left: 10px;
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }

  .search-button:hover {
    background-color: #0056b3;
  }
  .spotify-iframe{
    margin: 10px;
  }


</style>
