
<div class="form" data-controller='search-playlist'>

<%= form_with url: spotify_path, method: 'get', local: true, class: 'search-form',  data: {search_playlist_target: 'form'}, html:{autocomplete:'off'} do   %>
  <%= text_field_tag :query,
  params[:query],
  class: 'search-input' ,
  id: 'search-input',
  placeholder: 'Search for a playlist',
  data:{
    action: 'keyup->search-playlist#update',
    search_playlist_target:'input'
  }
  %>

  <div class="form-search" data-search-playlist-target='searchIcon'>
    <i class='fa fa-search '></i>
  </div>
<% end %>
    <%= render 'results' %>
</div>
