

<div class="quote-title">
<h3>Today's quote</h3>
</div>

  <div class="quote">
    <p><%= @quote.content%></p>
  </div>


<div class="features">


  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary feelings" data-bs-toggle="modal" data-bs-target="#exampleModal">
    <h4><i class="fa-solid fa-face-smile"></i>  <%= @thismood  %></h4>
  </button>
  <!-- Render modal -->
  <% if @mood.new_record? %>
    <%= render "modal" %>
  <% end %>
  <div class="journal">
    <h4>My journals</h4>
  </div>

  <div class="vibes">
    <h4>Vibes</h4>
  </div>


  <div class="ai">
    <h4>ai chat</h4>
  </div>


  <div class="therapists">
    <h4>Therapists</h4>
  </div>

</div>


<%# navbar with home, progress, quotes  %>


<div class="icons border-top mb-5 pt-3">

  <div class="icon">
    <i class="fa-solid fa-house"></i>
    <h6>Home</h6>
  </div>

  <div class="icon">
    <i class="fa-solid fa-chart-simple"></i>
    <h6>Progress</h6>
  </div>


  <div class="icon">
    <i class="fa-solid fa-brain"></i>
    <h6>Quotes</h6>
  </div>

</div>
