#message_content {
  width: 78vw;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 25px;
  font-size: 16px;
  margin-bottom: 10px;
}

.messages {
  margin: 10px;
}

.chat-form {
  margin-left: 10px;
  position: fixed;
  bottom: 60px;
  left: 0;
  z-index: 2;
}

.therapist p {
  margin-left: 10px;
}

.message-box {
  margin-bottom: 10px;

  border-radius: 5px;
  padding: 5px;
  width: 50%;
}

.chat-inputs {
  display: flex;
  width: 100%;
  align-items: baseline;
  gap: 3px;
}

.submit {
  height: 45px;
}

.reciever {
  text-align: left;
}

.sender {
  text-align: right;

}

.position-right {
  display: flex;
  justify-content: flex-end;

}
