#message_content {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 10px;
}

.messages {
  margin-left: 10px;
}

.chat-form {
  margin-left: 10px;
}

.therapist p {
  margin-left: 10px;
}

.message-box {
  margin-bottom: 10px;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  width: 50%;
}

