
.quote-title {
  margin-top: 15px;
}

.quote {
  text-align-last: left;
  padding-top: 10px;
  margin-left: 5px;
}

.features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 40px;
}

.feelings {
  width: 300px;
  height: 50px;
  padding-top: 12px;
  padding-left: 12px;
  padding-bottom: 15px;
  text-align: center;
  border-radius: 8px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.feelings:hover {
  background-color: #4bd3dc;
  transition: 0.5s;
}

.journal {
  // border: 1px solid #1c1919;
  padding-top: 12px;
  padding-left: 12px;
  text-align: center;
  border-radius: 8px;
  color: white;
  background-color: #0C7B93;
  margin-top: 30px;
  height: 150px;
}

.journal:hover {
  background-color: #6aa7ab;
  transition: 0.5s;
}

.vibes {
  // border: 2px solid #1c1919;
  padding-top: 12px;
  padding-left: 12px;
  text-align: center;
  border-radius: 8px;
  margin-top: 30px;
  height: 150px;
}


.ai {
  // border: 1px solid #1c1919;
  padding-top: 12px;
  padding-left: 12px;
  text-align: center;
  border-radius: 8px;
  color: white;
  background-color: #0C7B93;
  height: 150px;
}

.ai:hover {
  background-color: #6aa7ab;
  transition: 0.5s;
}

.therapists {

  padding-top: 12px;
  padding-left: 12px;
  text-align: center;
  border-radius: 8px;
  color: white;
  background-color: black;
  height: 150px;
}

.therapists:hover {
  background-color: #777c7c;
  transition: 0.5s;
}


.icons {
  display: flex;
  justify-content: space-between;
  background-color: rgb(35, 34, 41);
  height: 65px;
}

.icon  {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  padding-top: 5px;
}

.icon i {
  color:rgb(206, 220, 217);
  padding-bottom: 12px;
}

h6 {
  color: white;
}

.component {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vibes-card {
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
}

.others-card {
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  background-image: linear-gradient(144deg,#07c88e, #03bcca 50%,#00DDEB);
}

.feelings-card {
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  background-image: linear-gradient(144deg,#07c88e, #03bcca 50%,#00DDEB);
}
