
.quote-title {
  margin-top: 15px;
}

.quote {
  text-align-last: left;
  padding-top: 10px;
  margin-left: 5px;
}

.features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 40px;
}

.feelings {
  width: 300px;
  height: 50px;
  padding-top: 12px;
  padding-left: 12px;
  padding-bottom: 15px;
  text-align: center;
  border-radius: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.journal {
  // border: 1px solid #1c1919;
  padding-top: 12px;
  padding-left: 12px;
  text-align: center;
  margin-top: 30px;
  height: 150px;
}


.vibes {
  // border: 2px solid #1c1919;
  padding-top: 12px;
  padding-left: 12px;
  text-align: center;
  margin-top: 30px;
  height: 150px;
}


.ai {
  // border: 1px solid #1c1919;
  padding-top: 12px;
  padding-left: 12px;
  text-align: center;
  height: 150px;
}


.therapists {

  padding-top: 12px;
  padding-left: 12px;
  text-align: center;
  border-radius: 20px;
  height: 150px;
}

.icons {
  display: flex;
  justify-content: space-between;
  background-color: rgb(35, 34, 41);
  height: 65px;
}

.icon  {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  padding-top: 5px;
}

.icon i {
  color:rgb(206, 220, 217);
  padding-bottom: 12px;
}

h6 {
  color: white;
}

.component {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vibes-card {
  background-color: white;
  box-shadow:#777c7c 0 15px 30px -5px;
  border-radius: 20px;
}

.others-card {
  background-color: white;
  box-shadow:#777c7c 0 15px 30px -5px;
  border-radius: 20px;
}


.feelings-card {
  background: #6CA09D;
}
