
.quote-title {
  margin-top: 15px;
  h3 {
    color: white;
  }
}

.quote {
  padding-top: 10px;
  margin-left: 5px;
  text-align: center;
  border-radius: 10px;
  p {
    color: white;
  }
}

.features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 40px;
}

.feelings {
  width: 300px;
  height: 50px;
  padding-top: 12px;
  padding-left: 12px;
  padding-bottom: 15px;
  text-align: center;
  border-radius: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.journal {
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  text-align: center;
  margin-top: 30px;
  height: 130px;
}


.vibes {
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  text-align: center;
  margin-top: 30px;
  height: 130px;
}


.ai {
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  text-align: center;
  height: 130px;
}


.therapists {
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  text-align: center;
  border-radius: 20px;
  height: 130px;
}

h6 {
  color: white;
}

.component {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vibes-card {
  background-color: white;
  border-radius: 20px;
}

.others-card {
  background-color: white;
  border-radius: 20px;
}


.feelings-card {
  background: #C455FA;
}
